NODE_ENV="developpement"
DATA_BASE_USED="postgresql_local or postgresql_supabase"
CORS_ORIGIN=""
PORT="5001"
HOST="0.0.0.0"
PVGIS_URL="https://re.jrc.ec.europa.eu/api/v5_2/"
API_URL="http://localhost:5001"

POSTGRES_USER="postresql user"
POSTGRES_PASSWORD="postresql user's password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="your postresql database"