NODE_ENV="developpement"
DATA_BASE_USED="postgresql_local or postgresql_supabase"
CORS_ORIGIN=""
PORT="5001"
HOST="0.0.0.0"
PVGIS_URL="https://re.jrc.ec.europa.eu/api/v5_2/"
API_URL="http://localhost:5001"
FRONTEND_URL="http://localhost:3000"

SUPABASE_DB_URL="connect to Supabase with connection pooling"
LOCAL_POSTGRES_USER="postresql user"
LOCAL_POSTGRES_PASSWORD="postresql user's password"
LOCAL_POSTGRES_HOST="localhost"
LOCAL_POSTGRES_PORT=5432
LOCAL_POSTGRES_DB="your postresql database"

BETTER_AUTH_SECRET="secret value used for encryption and hashing, at least 32 characters, generated with high entropy"
BETTER_AUTH_URL="base URL of your app"